body{
    font-family:'Roboto', sans-serif;
}

/* .main-container{
    width:800px;
    margin-right:auto;
    margin-left:auto;
} */

header{
     background-color:#1f2937
}
.header-container{
    display:flex;
    justify-content:space-between;
    
   
}

#logo{
    width:150px;
    height:150px;
    border-radius:100px
    
}
.links{
    display:flex;
    align-items:center;
  
    
}
a{
    text-decoration:none;
    margin:20px;
    color:#e5e7eb;
    font-size:18px

}

.sub-header{
    display:flex;
}

.welcome{
    align-items:flex-start;
    text-align:center;
    color:#f9faf8;
    font-weight:900;
    font-size:48px;

}

.car2{
    width:400px;
    height:auto;
}
.button{
    text-align:center;
    background-color:#3882f6;
    width:150px;
    padding:10px;
    border-radius:10px;
    color:#f9faf8
}
#sub-header{
    color:#f9faf8;
    font-size:24px;
}

.g-spot{
    margin-left:150px
}